name: Deploy Package to Main

on:
  push:
    branches:
      - dev  

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Push package folder to main branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: main

          FOLDER: Packages/Estqes-Save-Load-System
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Update package from {sha}"
